<div class="search-job-filter">
  <div class="content">
      <h2>باحثي العمل</h2>
    <div class="row">
  <%= form_tag(applicant_index_path, :method => "get", class: "navbar-form", id: "search-form") do %>      <div class="col-md-1"><p>بحث حسب:</p></div>
      <div class="col-md-10">

        
<div class="col-md-12">
                <%= text_field_tag :search, params[:search], :class=>"form-control", :placeholder=>"بحث متقدم" %>
</div>
</div>
<div class="col-md-1"><%= submit_tag "بحث", :class => "btn btn-block btn-danger" %></div>
        <%end%>
    </div>
  </div>
</div>
  <div class="content job-filter">

 
          <% if @applicants.any? %>

      <div class="row">
      <!-- Three columns of text below the carousel -->
      <div class="row job-list">

      <% @applicants.each do |applicant| %>
        <div class="col-md-4">
        <div class="job-item">
          <div class="row">
            <div class="col-md-3">
              <div class="job-pic"><% if applicant.avatar? %><%= image_tag applicant.avatar.url() %> <% else %><i class="fa fa-user"></i> <%end%> </div>
            </div>
            <div class="col-md-8">
              <div class="job-title">
                <a href="<%= applicant_path(applicant)%>" class="employee"><% if applicant.sex == "male" %> <i class="fa fa-male"></i> <% else %> <i class="fa fa-female"></i> <% end %> <%= applicant.first_name %> <%= applicant.second_name %></a>
                <a href="#" class="employer danger"><%= applicant.status %></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="job-conditions col-md-12">
              <p><%= applicant.city%></p>
              <p><%= applicant.education[0].degree %> <%= applicant.education[0].field %> - <%= applicant.education[0].graduation_place %> </p>
              <p> <%= applicant.education[0].graduation_year %></p>
            </div>
          </div>
          <div class="row">
            <div class="job-description col-md-12"></span>
              
                  <% skills = applicant.skill %>
              <% if skills.any? %>
                <% skills.each do |ski| %>
                    <span class="label label-primary"><%= ski.skill %></span>
                <%end%>
                <% end %>
                 
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3"> <%= link_to "المزيد", applicant_path(applicant), :class => "btn btn-block btn-lg btn-danger" %> </div>
          </div>
        </div>
        </div><!-- /job item -->

      <%end%>
    </div>
    </div>
<%else%>
          <div class="empty-content">
            <h1>لا يوجد أي باحث عمل بعد. <%= link_to "سجل كباحث عمل", new_applicant_registration_path %></h1>
          </div>
    <%end%>

  </div>
