<% title "تسجيل حساب الشركة"%>
<div class="page-head registering">
  <div class="content">
  <div class="breadcrumbs"> <h4>تسجيل حساب الشركة</p></div>
  <div class="row">
  <div class="col-md-3 col-md-offset-4">
  <div class="sign-progress">



      <!-- Nav tabs -->
      <ul class="nav" role="tablist">
        <li role="presentation" class="active contact"><a href="#contact_info" aria-controls="contact_info" role="tab" data-toggle="tab">١</a></li>
        <span class="split contact "></span>
        <li role="presentation"><a href="#company_info" aria-controls="company_info" role="tab" data-toggle="tab">٢</a></li>
      </ul>



  </div>
</div>
</div>
</div>
</div>



<div class="company-sign-up content">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => true }) do |f| %>
<%= devise_error_messages! %>

<!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="contact_info">
      <h2>المعلومات الشخصية</h2>
      <div class="form col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :first_name, autofocus: true, :class=>"form-control", :placeholder=>"الاسم الأول" %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :second_name, autofocus: true, :class=>"form-control", :placeholder=>"اسم العائلة" %>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder=>"البريد الإلكتروني" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.password_field :password, autofocus: true, :class=>"form-control", :placeholder=>"كلمة السر" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.text_field :phone, autofocus: true, :class=>"form-control", :placeholder=>"رقم التليفون" %>
        </div>
      </div>

      	    <div class="row">
            <div class="col-md-6">
                <%= f.select(:paid_account, [["حساب مجاني", "false"], ["حساب مدفوع", "true"]], {:class =>'form-control'})%>
	    </div>
            </div>
          <div class="col-md-4 pull-left">
            <a href="#company_info" aria-controls="company_info" role="tab" data-toggle="tab" id="first-level" class="btn btn-block btn-danger">أكمل</a>
          </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="company_info">


    <h2>معلومات الشركة</h2>
    <div class="form col-md-6 col-md-offset-3">

      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :co_name, autofocus: true, :class=>"form-control", :placeholder=>"اسم الشركة" %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :co_type, autofocus: true, :class=>"form-control", :placeholder=>"نوع الشركة" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :co_address, autofocus: true, :class=>"form-control", :placeholder=>"عنوان الشركة" %>
        </div>
        <div class="col-md-12">
          <%= f.text_area :co_desc, autofocus: true, :class=>"form-control", :placeholder=>"وصف الشركة" %>
        </div>
      </div>
        <div class="col-md-6">
                <label>شعار الشركة:
                <%= f.file_field :avatar, :class => 'form-control' %></label>
        </div>
    </div>

  </div>



</div>

<div class="row">
<div class="col-md-2 col-md-offset-8"><%= f.submit "سجل", :class=>"btn btn-block btn-danger" %></div>
</div>

<% end %>

</div>


<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('a#first-level').click( function() {
            $('li.contact').removeClass('active').addClass('complete');
            $('span.contact').addClass('complete');
        });


    });
</script>
