
  <div class="content job-filter">

    <% if @applicants.any? %>
      <div class="row">
      <!-- Three columns of text below the carousel -->
      <div class="row job-list">

      <% @applicants.each do |applicant| %>
        <div class="col-md-3">
        <div class="job-item">
          <div class="row">
            <div class="col-md-3">
              <div class="job-pic"></div>
            </div>
            <div class="col-md-8">
              <div class="job-title">
                <% education = applicant.education[0] %>
                <a href="#" class="employee"><%= applicant.first_name%><%= applicant.second_name%></a>
                <a href="#" class="employer danger"><%= education.degree %><%= education.field %> </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="job-conditions col-md-12">
              <p><%= applicant.city%></p>
              <p><%= applicant.status %></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="label label-info">محاسبة</div>
            <div class="label label-success">تجارة</div>
          </div>
          <div class="row">
            <div class="job-description">
              <p>
            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق، إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد. </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"> <div class="btn btn-block btn-lg btn-danger">قدم</div></div>
            <div class="col-md-6"> <div class="btn btn-block btn-lg btn-primary">مشاركة</div></div>
          </div>
        </div>
        </div><!-- /job item -->

      <%end%>
    </div>
    </div>
    <%else%>
      <div class="empty-content">
        <h1>لم تتقدم إلى أي وظيفة بعد، <%= link_to "تصفح الوظائف المعروضة", jobs_employer_path, :method => :get %>.</h1>
      </div>
      
    <%end%>

  </div>
