<% title "السيرة الذاتية"%>
        <div class="breadcrumps">
            <div class="content"><%= link_to "السير الذاتية", applicants_path %> <span>\</span><p><%= applicant.first_name %> <%= applicant.second_name %></p></div>
        </div>

        <!-- Error Message -->
 <% flash.each do |name, msg| %>

<div class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<%= content_tag :div, msg, class: name %>
</div>
<% end -%>

<div class="page-head">
    <div class=" applicant-title content">
      <div class="row">
        <div class="col-md-2">
          <div class="profile-pic"> <% if applicant.avatar? %> <%= image_tag @applicant.avatar.url(:medium) %> <% else %> <i class="fa fa-user"></i> <%end%> </div>
        </div>
        <div class="col-md-7">
          <p class="name"><% if applicant.sex == "male" %> <i class="fa fa-male"></i> <% else %> <i class="fa fa-female"></i> <% end %> <%= applicant.first_name %> <%= applicant.second_name %></p>
          <p class="job-title"><%= applicant.status %></p>
        </div>
        <div class="applicant-buttons">
        <div class="col-md-3">
          <div class="row">
              <% if current_applicant %>
                <div class="col-md-6"> <%= link_to "تعديل البيانات", edit_applicant_registration_path(current_applicant), :class => "btn btn-block btn-danger btn-sm" %> </div>
                <div class="col-md-6"> <%= link_to "تصفح الوظائف", employers_path, :class => "btn btn-block btn-danger btn-sm" %></div>
                <% if applicant.paid_account != true %><div class="col-md-12"> <a href="<%= new_payment_path%>" class="btn btn-block btn-danger btn-sm"> الترقية للحساب المدفوع</a></div><%end%>
              <% else %>
                            <div class="row">
            <% if applicant.paid_account %>
              <div class="col-md-6"><a class="btn btn-block btn-lg btn-danger" href="#" data-toggle="modal" data-target="#contact">بيانات التواصل</a></div>
              <% elsif employer_signed_in? %>
                <% if current_employer.paid_account %>
                 <div class="col-md-6"><a class="btn btn-block btn-lg btn-danger" href="#" data-toggle="modal" data-target="#contact">بيانات التواصل</a></div>
                <%end%>
                  <% end%>
              <!-- Modal -->
<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contact" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">بيانات التواصل</h4>
      </div>
      <div class="modal-body">
        <label>البريد  الإلكتروني </label><p><%= applicant.email %></p>

        <label>رقم التليفون</label><p><%= applicant.phone%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

                <%end%>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

      <div class="applicant-cv content">
        <div class="row">
        <div class="col-sm-12 details-list">
         <% if applicant.experience %>
            <% applicant.experience.each do |experience| %>
          <div class="detail-item">
            <h2 class="title">الخبرة</h2>
            <div class="detail-description experience-list">
              <div class="row">
                <div class="item">
                  <div class="col-md-6"> <p class="title"><%= experience.title %></p> <p class="company"><%= experience.company %></p></div>
                  <div class="col-md-12"> <p class="period"><%= experience.period %></p></div>
                  <div class="col-md-12"> <p class="description"><%= experience.description %></p></div>
                </div>

              </div>
            </div>
          </div>
          <%end%>
          <% end %>
          <% if applicant.education[0] %>
            <% applicant.education.each do |education| %>
          <div class="detail-item">
            <h2 class="title">المؤهل</h2>
            <div class="detail-description">
              <div class="row">
                <div class="col-md-6"> <p class="title"><%= education.degree %> <%= education.field %></p> <p class="graduation-year"><%= education.graduation_year %></p></div>
                <div class="col-md-12"> <p class="description"> <%= education.graduation_place %></p></div>
              </div>
            </div>
          </div>
            <%end%><%end%>


          <div class="detail-item">
            <h2 class="title">المهارات</h2>
            <div class="detail-description">
              <div class="row">
                 <% skills = applicant.skill %>
              <% if skills.any? %>
                <% skills.each do |ski| %>
                    <span class="label label-primary"><%= ski.skill %></span>
                <%end%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        </div>

      </div>
</div>
