<% title "الخريجين الجدد"%>
<div class="search-job-filter fresh-gradaute">
  <div class="content">
      <h2>وظائف للخريجين الجدد</h2>
    <div class="row">
        <%= search_form_for @q do |f| %>
      <div class="col-md-1"><p>بحث حسب:</p></div>
    <div class="col-md-10">
<div class="col-md-2">
              <%= f.search_field :city_cont, :class=>"form-control", :placeholder=>"المدينة" %>
</div>
        <div class="col-md-2">
          <%= f.search_field :education_field_cont, :class=>"form-control", :placeholder=>"المجال" %>
        </div>
        <div class="col-md-2 graduation" style="display:none;">
          <%= f.search_field :education_graduation_year_cont, :class=>"form-control ", :placeholder=>"سنة التخرج" %>
        </div>
        <div class="col-md-2">
          <%= f.search_field :skill_skill_or_experience_description_cont, :class=>"form-control", :placeholder=>"بحث متقدم" %>
        </div>
</div>
<div class="col-md-1"><%= f.submit "بحث", :class => "btn btn-block btn-danger" %></div>
      <%end%>
  </div>
</div>
</div>

  <div class="content job-filter">

    <% if @jobs %>
      <%= render "applicants/applicants_list"%>

    <% else %>
          <div class="empty-content">
            <h1>لم تسجل أي وظيفة بعد. <%= link_to "أضف وظيفة جديدة", new_job_path %></h1>
          </div>
    <%end%>


  </div>
</div>
