<div class="search-main-page">
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <h1>الموقع الأقوى للوظائف السعودية</h1>
  <div class="row">
    <div class="col-md-6"><input type="text" class="form-control" placeholder="الوظيفة"></div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    البلد
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>

    </div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        صاحب عمل
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
      </ul>

    </div>
    <div class="col-md-1"><a href="" class="btn btn-block btn-danger">بحث</a></div>
  </div>
  </div>
</div>


</div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
<div class="main-page">
    <div class="marketing">
<div class="row">
    <h2>الوظائف المميزة</h2>
      <!-- Three columns of text below the carousel -->
    <% if @jobs %>
      <div class="row">
      <!-- Three columns of text below the carousel -->
      <div class="row job-list">

      <% @jobs.each do |job| %>
          <% employer = job.employer %>
        <div class="col-md-4">                <div class="job-item">
          <div class="row">
            <div class="col-md-3">
              <div class="job-pic"><% if job.employer.avatar? %> <%= image_tag job.employer.avatar.url(:medium) %> <% else %> <i class="fa fa-user"></i> <%end%></div>
            </div>
            <div class="col-md-8">
              <div class="job-title">
                <a href="<%= job_path(employer) %>" class="employee"> <%= job.title %></a>
                <a href=" <%= employer_path(employer) %>" class="employer danger"><%= job.employer.co_name %></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="job-conditions col-md-12">
              <p><%= job.place %></p>
              <p><%= job.experience %></p>
            </div>
          </div>
          <div class="row">
            <div class="job-description">
                <p> <%= job.description %> </p>
            </div>
          </div>
          <div class="row">
            <% if applicant_signed_in? %>
             <div class="col-md-6"> <%= link_to "قدم",  job_create_follower_path(job), :method => :post, :class => "btn btn-block btn-primary" %></div>
              <% elsif employer_signed_in? %>
                <% if job.employer == current_employer %>
                    <div class="col-md-6"><%= link_to "تعديل", edit_job_path(job), :class => "btn btn-block btn-primary" %></div>
                    <%end%>
              <% else %>
              
                <div class="col-md-6"> <%= link_to "قدم", new_applicant_registration_path, :class => "btn btn-block btn-primary" %></div>
              <%end%>
            <div class="col-md-6"> <div class="btn btn-block btn-primary">مشاركة</div></div>
          </div>
        </div>
        </div><!-- /job item -->
<%end%>
                </div><!-- /job list -->
      <div class="col-md-2 col-md-offset-5"><a href="<%= jobs_path%>" class="btn btn-lg btn-danger btn-block">المزيد</a></div>
    </div>
            
    </div>
    </div>
    <% else %>
          <div class="empty-content">
            <h1>لم تسجل أي وظيفة بعد. <%= link_to "أضف وظيفة جديدة", new_job_path %></h1>
          </div>
    <%end%>
          

  </div>

</div>

<div class="reviews text-center">
  <h2>ماذا قال عملاؤنا؟</h2>

	<div class="[ row ]">
		<div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]" role="tabpanel">
            <div class="[ col-xs-4 col-sm-12 ]">
                <!-- Nav tabs -->
                <ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#dustin" aria-controls="dustin" role="tab" data-toggle="tab">
                            <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dustinlamont/128.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#daksh" aria-controls="daksh" role="tab" data-toggle="tab">
                            <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dakshbhagya/128.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#anna" aria-controls="anna" role="tab" data-toggle="tab">
                            <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/annapickard/128.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#wafer" aria-controls="wafer" role="tab" data-toggle="tab">
                            <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/waferbaby/128.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="[ col-xs-8 col-sm-12 ]">
                <!-- Tab panes -->
                <div class="tab-content" id="tabs-collapse">
                    <div role="tabpanel" class="tab-pane fade in active" id="dustin">
                        <div class="tab-inner">
                            <p class="lead">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
                            <hr>
                            <p><strong class="text-uppercase">Dustin Lamont</strong></p>
                            <p><em class="text-capitalize"> Senior web developer</em> at <a href="#">Apple</a></p>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="daksh">
                        <div class="tab-inner">
                            <p class="lead">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
                            <hr>
                            <p><strong class="text-uppercase">Daksh Bhagya</strong></p>
                            <p><em class="text-capitalize"> UX designer</em> at <a href="#">Google</a></p>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="anna">
                        <div class="tab-inner">
                            <p class="lead">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
                            <hr>
                            <p><strong class="text-uppercase">Anna Pickard</strong></p>
                            <p><em class="text-capitalize"> Master web developer</em> at <a href="#">Intel</a></p>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="wafer">
                        <div class="tab-inner">
                            <p class="lead"> هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
                            <hr>
                            <p><strong class="text-uppercase">Wafer Baby</strong></p>
                            <p><em class="text-capitalize"> Web designer</em> at <a href="#">Microsoft</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<div class="price-tables">
  <h2>جدول العروض</h2>
    <div class="row">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#employer" aria-controls="empolyer" role="tab" data-toggle="tab">صاحب عمل</a></li>
          <li role="presentation"><a href="#employee" aria-controls="employee" role="tab" data-toggle="tab">طالب عمل</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="employer">
                <div class="col-sm-12">
                  <div class="col-md-6 ">
                    <div class="plan row">
                      <h3 class="plan-title">عادية</h3>
                      <p class="plan-price">مجاناً</p>
                      <div class="col-md-10 col-md-offset-1">
                        <ul class="plan-features">
                          <li >10 <span class="plan-feature-name">وظائف/تدريبات</span></li>
                          <li> <span class="plan-feature-name">التواصل مع العضويات المدفوعة فقط.</span></li>

                        </ul>
                        <a href="<%= new_employer_registration_path %>" class="btn btn-block btn-lg btn-danger">سجل</a>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 ">
                      <div class="plan row">
                        <h3 class="plan-title">مميزة</h3>
                        <p class="plan-price">٢٠$</p>
                        <div class="col-md-10 col-md-offset-1">
                          <ul class="plan-features">
                            <li ><span class="plan-feature-name">وظائف لانهائية!</span></li>
                            <li> <span class="plan-feature-name">إمكانية التواصل مع جميع العضويات</span></li>
                          </ul>
                          <a href="<%= new_employer_registration_path %>" class="btn btn-block btn-lg btn-danger">سجل</a>
                        </div>
                      </div>
                    </div>
            </div>


            </div>
          </div>


          <div role="tabpanel" class="tab-pane" id="employee">
            <div class="col-sm-12">
                <div class="col-md-6 ">
                  <div class="plan row">
                    <h3 class="plan-title">عادية</h3>
                    <p class="plan-price">مجاناً</p>
                    <div class="col-md-10 col-md-offset-1">
                      <ul class="plan-features">
                        <li> <span class="plan-feature-name">التواصل مع العضويات المدفوعة فقط.</span></li>

                      </ul>
                      <a href="<%= new_applicant_registration_path %>" class="btn btn-block btn-lg btn-danger">سجل</a>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 ">
                    <div class="plan row">
                      <h3 class="plan-title">مميزة</h3>
                      <p class="plan-price">٢٠$</p>
                      <div class="col-md-10 col-md-offset-1">
                        <ul class="plan-features">
                          <li> <span class="plan-feature-name">إمكانية التواصل مع جميع العضويات</span></li>
                        </ul>
                        <a href="<%= new_applicant_registration_path %>" class="btn btn-block btn-lg btn-danger">سجل</a>
                      </div>
                    </div>
                  </div>



          </div>
        </div>
          </div>
  </div>

</div>
</div>
