        <% title "الصفحة الشخصية للشركة"%>
        <div class="breadcrumps">
            <div class="content"><%= link_to "الشركات", applicant_index_path %> <span>\</span><p><%= employer.co_name %></p></div>
        </div>

              <!-- Error Message -->
       <% flash.each do |name, msg| %>

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= content_tag :div, msg, class: name %>
</div>
<% end -%>

<div class="page-head">
    <div class=" applicant-title content">
      <div class="row">
        <div class="col-md-2">
          <div class="profile-pic"><% if employer.avatar? %> <%= image_tag @employer.avatar.url(:medium) %> <% else %> <i class="fa fa-user"></i> <%end%></div>
        </div>
        <div class="col-md-7">
          <p class="name"><%= employer.co_name %></p>
          <p class="job-title"><%= employer.co_address %></p>
        </div>
        <div class="applicant-buttons">
        <div class="col-md-3">
          <div class="row">
              <% if current_employer %>
                <div class="col-md-6"> <%= link_to "تعديل البيانات", edit_employer_registration_path(current_employer), :class => "btn btn-block btn-danger btn-sm" %> </div>
                <div class="col-md-6"> <%= link_to "تصفح باحثي العمل", applicants_path, :class => "btn btn-block btn-danger btn-sm" %></div>
                <% if employer.paid_account != true %><div class="col-md-12"> <a href="<%= new_payment_path%>" class="btn btn-block btn-danger btn-sm"> الترقية للحساب المدفوع</a></div><%end%>
            <%end%>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

<div class="content">
    <% if @jobs.any? %>
      <%= render "jobs/job_list"%>
    <% else %>
          <div class="empty-content">
            <h1>لا توجد وظائف. <% if current_employer %> <%= link_to "أضف وظيفة جديدة", new_job_path(current_employer) %> <% else %><%= link_to "تصفح الوظائف المتاحة", employer_index_path %> <%end%></h1>
          </div>
    <%end%>
